@import 'index.scss';
@import "~bootstrap/scss/bootstrap";
$mobile: 767px;

@mixin ImgSize($device) {
    width: 100%;
    @if $device == mobile {
        height: 400px; // 16:9
    } @else if $device == tablet {
        height: 600px;
    } @else if $device == pc {
        height: 633px;
    }
}

.carimg {
    @include ImgSize(pc);
    object-fit: fill;
    
    @media screen and (max-width: $mobile) {
        @include ImgSize(mobile);
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @include ImgSize(tablet);
    }
}

.img-bg{
    background: $ligthgreenTone;
    @include ImgSize(pc);
    opacity: 0.1;
    position: absolute;
    &:hover{
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    @media screen and (max-width: $mobile) {
        @include ImgSize(mobile);
    }
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        @include ImgSize(tablet);
    }
}

h1{
    font-family: $title;
}

.teste{
    color: $ligthgreenTone;
}

.leftSize{
    margin-left: 60%;
    @media screen and (max-width: $mobile) {
        margin-left: 12%;
    }
}

.rightSize{
    margin-left: 12%;
}

.hero{
    position: absolute;
    z-index: 99;
    margin-top: 8%;
    border-radius: 6px;
    width: 30%;
    padding: 3%;
    @media screen and (max-width: $mobile) {
        width: 75%;
        padding: 5%;
    }
    &__title{
        font-size: 33px;
        text-transform: uppercase;
        text-shadow: 0.5px 0.5px 0.5px $strongblack;
        @media screen and (max-width: $mobile) {
            font-size: 23.1px;
        }
    }
    &__desc{
        font-size: 15px;
        color: $ligthblack;
        @media screen and (max-width: $mobile) {
            font-size: 14px;
        }
    }
    &__img-logo{
        width: 80px;
        display: block;
        margin: 10px auto 10px auto;
        @media screen and (max-width: $mobile) {
            width: 60px;
        }
    }
}

.containerinfo{
    padding: 40px;
    background-color: $greentone;
    h1{
        color: white;
        font-size: 33px;
    }
    &__btn{
        border: 1px solid white;
        text-transform: uppercase;
        padding: 14px;
        border-radius: 14px;
        font-size: 14px;
        font-weight: bold;
        &:hover{
            border: 1px solid white;
            background-color: white;
            color: $greentone;
        }
    }
    
}

.containerCards{
    margin-top: 48px;
    margin-bottom: 48px;
}

#meio{
    background-color: aquamarine;
}

