@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

$ligthgreenTone: #047f04;
$darkgreentone: #062a06;
$greentone: #065406;
$open-sans: 'Open Sans', sans-serif;
$title: 'Oswald', sans-serif;  

@mixin selection{
  color: white;
  background-color: rgb(21 128 61);
}

body {
  margin: 0;
}

::-moz-selection { /* Code for Firefox */
  @include selection();
}

::selection {
  @include selection();
}